* {
    font-family: sans-serif;
    border-radius: 25px;
  }
  
  body {
    background-image: url("../src/images/background.jgp"); /*#2574DA*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
  }
  
  header {
    padding: 0 .5%;
    width: 95%;
    max-width: 95%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*padding-bottom: 30%;*/
  }

  .Profile {
    margin-bottom: -2.5%;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #001e38;
  }

  .Profile *{
    flex-basis: 100%;
    text-align: center;
  }
  
  nav {
    display: flex;
    background-color: #001e38;
    width: 100%;
    margin-bottom: -5%;
  }
  
  nav > li {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    /*margin: auto;*/
    padding: 14px 10px;
    justify-content: space-evenly;
    align-items:center;
  }

  nav > li > a {
    flex-basis: auto;
    width: 60%;
    align-items: stretch;
    background-color: rgba(232, 232, 232, 0.9);
    color: black;
    border-style: none;
  }
  
  nav > li > a:hover {
    border-style: solid;
    border-color: #fe8502;
    background-color: rgba(255, 165, 0, 0.4);
    color: white;
    border-width: 5px;
  }

  section {
    margin-top: 1.5%;
    padding: 2.5% 5%;
    justify-content: space-around;
    background-color: rgba(230, 240, 240, 0.6);
    border-style: outset;
    border-bottom-width: 10px;
    border-right-width: 7px;
  }
  
  footer{
    padding-top: 2.5%;
    padding-bottom: 1.5%;
    text-align: center;
    color: white;
    background: #222;
    width: 100%;
  }
  
  a {
    color: cornflowerblue;
  }
  
  td {
    border-collapse: collapse;
    border-style: solid;
  }
  
  th {
    padding: .25%;
    border-width: thick;
    border-collapse: collapse;
    border-style: solid;
    font-size: 2em;
    color: white;
    border-color: black;
    background: rgba(50, 100, 115, 0.3);
  }
  
  td:nth-child(even) {
    background: rgba(127, 255, 212, 0.3);
  }
  
  .responsive-img{
    /*max-width: 95%;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .responsive-img > img{
    /*flex-basis: auto;*/
    width: 100%;
    height: auto;
    /*vertical-align: middle;*/
    text-align: center;
    margin: auto;
  }
  
  .iframe-holder{
    position: relative;
    /*padding-bottom: 10%;*/
    /*padding-top: 25px;*/
    /*margin: 0.25%;*/
  }
  
  .iframe-holder > iframe{
    position: absolute;
    top: 0;
    /*bottom: 0;*/
    left: 0;
    /*right: 0;*/
    width: 100%;
    height: 100%;
  }  

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .info > div {
    flex-basis: 1;
    max-width: 60%;
    margin: auto;
    padding: 0.5%;
  }

  .info h2 {
    text-align: center;
  }

  .info ul {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  
  .info ul > li {
    flex-basis: 50%;
  }

  .Search_bar {
    width: 100%;
  }

  .Search_bar > form {
    display: flexbox;
    flex-direction: row;
  }

  .Search_bar > form * {
    flex-basis: 10%;
    color: orangered;
  }

  .Search_bar input[type=text]{
    width: 70%;
    flex-basis: 80%;
  }

  .Search_bar button {
    visibility: visible;
    background-color: #ddd;
    color: #bbb;
  }

  .Search_bar button:hover {
    background-color: #bbb;
    color: white;
  }

  @media screen and (max-width: 700px){
    .info {
        flex-direction: column;
    }

    .info > div {
        max-width: 98%;
    }

    .Search_bar button {
        visibility: hidden;
    }
  }